// Variables -----------------------------///

// Design sizes ------------------------------------

$mobileWidth: 375px;

$desktopWidth: 1440px;
$desktopHeight: 1056px;

$mainWidth: 1300px;
$mainHeight: 722px;

$cardWidth: 278px;
$cardHeight: 500px;
$cardHeightMobile: 440px;

$min-height: $cardHeight + 80;

$cardContainerWidth: $cardWidth * 3;

// ---------------------------------------------------

// Primary colors -----------------------------------
$backgroundWhite: #f2f2f2;
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);

//-- paragraphs
$transparentWhite: hsla(0, 0%, 100%, 0.75);

//-- background, headings, buttons
$verylightGray: hsl(0, 0%, 95%);

// ----------------------------------------------------
// @Media Breakpoints

$breakpoint-mobile-end: 480px;
$breakpoint-mobile-tablet: 600px;
$breakpoint-tablet-end: 768px;

//-----------------------------------------------------------------------
html {
	font-size: 15px;
}

body {
	box-sizing: border-box;
	overflow: hidden;
}

.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-height: $desktopHeight;
	max-width: $desktopWidth;
	min-height: $min-height;
	margin: 0 auto;
	background-color: #fff;

	main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: ($mainWidth / $desktopWidth) * 100%;
		height: 100%;
		max-height: $mainHeight;
		max-width: $mainWidth;
		min-height: $min-height;
		margin: 0 auto;
		padding: 40px;
		background-color: $verylightGray;

		@media screen and (max-width: $breakpoint-tablet-end) {
			padding: 20px;
		}

		@media screen and (max-width: $breakpoint-mobile-tablet) {
			align-items: flex-start;
			padding: 40px;
			margin: 0;
			width: 100%;
			max-height: none;
		}

		.cardsContainer {
			display: flex;
			width: 100%;
			height: 100%;
			max-width: $cardContainerWidth;
			max-height: $cardHeight;
			margin: 20px 40px 0;

			@media screen and (max-width: $breakpoint-tablet-end) {
				margin: 0;
			}

			@media screen and (max-width: $breakpoint-mobile-tablet) {
				flex-direction: column;
				max-width: none;
				max-height: $cardHeightMobile;
			}

			.cards {
				display: inline-flex;
				justify-content: space-between;
				flex-direction: column;
				width: ($cardWidth / $cardContainerWidth) * 100%;
				height: $cardHeight;
				max-height: $cardHeight;
				max-width: $cardWidth;
				padding: 46px;

				@media screen and (max-width: 979px) {
					padding: 46px 30px;
				}

				@media screen and (max-width: $breakpoint-tablet-end) {
					padding: 46px 20px;
				}

				@media screen and (max-width: $breakpoint-mobile-tablet) {
					width: 100%;
					height: 100%;
					max-height: $cardHeightMobile;
					max-width: none;
					padding: 30px;
				}

				h1 {
					font-family: 'Big Shoulders Display', cursive;
					text-transform: uppercase;
					color: $verylightGray;
				}

				p {
					font-family: 'Lexend Deca', sans-serif;
					font-weight: 400;
					font-size: 1rem;
					color: $transparentWhite;

					@media screen and (max-width: 979px) {
						font-size: 0.95rem;
					}
				}

				button {
					border-radius: 25px;
					border: 2px solid $verylightGray;
					height: 48px;
					width: 148px;
					margin-top: 60px;
					background: $verylightGray;
					transition: all 0.3s ease-out;
					cursor: pointer;

					&:hover {
						background: transparent;
						color: $transparentWhite !important;
						transition: all 0.3s ease-out;
					}

					@media screen and (max-width: 979px) {
						margin-top: 30px;
					}

					@media screen and (max-width: $breakpoint-tablet-end) {
						width: 120px;
						height: 32px;
						margin-top: 20px;
					}

					@media screen and (max-width: $breakpoint-mobile-tablet) {
						font-size: 0.8rem;
					}
				}

				&.card1 {
					border-radius: 10px 0 0 10px;
					background-color: $brightOrange;

					@media screen and (max-width: $breakpoint-mobile-tablet) {
						border-radius: 10px 10px 0 0;
					}

					button {
						color: $brightOrange;
					}
				}

				&.card2 {
					background-color: $darkCyan;

					button {
						color: $darkCyan;
					}
				}

				&.card3 {
					background-color: $veryDarkCyan;
					border-radius: 0 10px 10px 0;

					@media screen and (max-width: $breakpoint-mobile-tablet) {
						border-radius: 0 0 10px 10px;
					}

					button {
						color: $veryDarkCyan;
					}
				}
			}
		}
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

////// info ---------
// .class {
//   /* Positioning */
//   /* Display & Box Model */
//   /* Color */
//   /* Text */
//   /* Other */
// }
